PORT=5010
MONGODB_URI=mongodb://localhost:27017/wis_social

# Redis Configuration
REDIS_HOST=172.16.20.120
REDIS_PORT=6379
REDIS_PASSWORD=breakpoint


REDIS_NOTIFICATION_CHANNEL=notification-service
REDIS_SOCIAL_CHANNEL=social-service


ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://wis.wellspring.edu.vn
JWT_SECRET=breakpoint

# Frappe integration
# Bật/tắt xác thực đồng bộ với Frappe. Mặc định bật nếu không set
ENABLE_FRAPPE_SYNC=true
# FRAPPE_API_URL trỏ tới domain Frappe/ERP
FRAPPE_API_URL=https://admin.sis.wellspring.edu.vn
# Nếu sử dụng API Key/Secret, khai báo 2 biến sau (không bắt buộc)
# FRAPPE_API_KEY=
# FRAPPE_API_SECRET=

